/node_modules
package-lock.json
/dist
src/data/projects-dev.json
src/data/settings.json
src/data/todos.json
src/data/rss-feeds.json
src/data/scratchpad.txt
src/data/snippets.json
src/data/rawg_cache.json
src/data/recently_played.json
